name: "Main: Deploy AWS Lambda JavaScript"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize

permissions:
  id-token: write
  contents: read

env:
  AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
  AWS_REGION: ap-northeast-1
  LAMBDA_FUNCTION_NAME: practice-deploy-lambda-js

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
        working-directory: src

      - name: Login
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to Lambda
        uses: aws-actions/aws-lambda-deploy@v1
        with:
          function-name: ${{ env.LAMBDA_FUNCTION_NAME }}
          code-artifacts-dir: src
          runtime: nodejs20.x
          handler: index.handler
          role: ${{ env.AWS_ROLE_ARN }}

      - name: Invoke Lambda function
        run: aws lambda invoke --function-name ${{ env.LAMBDA_FUNCTION_NAME }} response.json && cat response.json